<div class="container">
  <% @categories.each do |category| %>
  <p>
    <a href="/<%= category %>"><%= category %></a>
    <a class='new_post' href="/<%= category %>/new">new post</a>
  </p>
  <% end %>
</div>
