<div class="container">
  <form action='/<%= @category %>/new' method='post'>
  	<h3>New Post in <%= @category %></h3>
  	Title:<br>
  	<input type='text' name='title'><br>
  	Content:<br>
  	<textarea name='description'></textarea>
  	<input type='submit'>
  </form>
</div>
